[alias]
    st = status -s
    df = diff
    dc = diff --cached
    rb = rebase
    me = merge
    cp = cherry-pick
    ro = rebase --onto
    co = checkout
    lg = log --graph --pretty=format:'%C(reverse white)%h%Creset%C(bold blue)%d%Creset %C(normal)%s %C(green)(%cr) %C(bold black)%an%Creset' --abbrev-commit --date=relative
    cm = commit -m
    br = branch
[push]
    default = simple
[core]
    excludesfile = ~/.gitignore
    editor = vim
